{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'images/bg-img/2.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title mt-70">Sports World</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Sports</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

<section class="blog-area">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          {% for sport in sportsnews %}
          <!-- Single Blog Area -->
          <div class="single-blog-area mt-50 mb-50">
            <a href="#" class="mb-30"><img src="{{ sport.photo.url }}" alt="Farhood media Posts"></a>
            <!-- Content -->
            <div class="post-content">
              <a href="#" class="post-date">{{ sport.date_created }}</a>
              <a href="#" class="post-title">{{ sport.title }}</a>
              <div class="post-meta mb-15">
                <a href="#" class="post-author">By {{ sport.user }}</a> |
                <a href="#" class="post-catagory">Posts</a>
              </div>
              <p>{{sport.body}}.</p>
              <a href="/details" class="read-more-btn">Continue reading <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          {% endfor %}


          <!-- Pagination -->
          <div class="container">
            <div class="poca-projects-menu mb-30 wow fadeInUp" data-wow-delay="0.3s">
              <div class="text-center portfolio-menu">
                <button class="btn" data-filter=".tech"><a href="#">Previous</a></button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn" data-filter=".tutor"><a href="#">Next</a></button>
              </div>
            </div>
          </div>
          <div class="poca-pager d-flex mb-80">
            <!-- <a href="#">Previous Post <span>Episode 3 – Wardrobe For Busy People</span></a>
            <a href="#">Next Post <span>Episode 6 – Defining Your Style</span></a> -->
          </div>

        </div>

        <div class="col-12 col-lg-4">
          <div class="sidebar-area mt-5">


            <!-- Single Widget Area -->
            <div class="single-widget-area catagories-widget mb-80">
              <h5 class="widget-title">Sports Section</h5>

              <!-- catagories list -->
              <ul class="catagories-list">
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Tennis</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Rugby</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Motor Rallies</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Golf</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Boxing</a></li>
              </ul>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget mb-80">
              <h5 class="widget-title">Recent sports News</h5>

              <!-- Single News Area -->
              <div class="single-news-area d-flex">
                <div class="blog-thumbnail">
                  <img src="{% static 'images/bg-img/sports/football4.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">Arsenal's New Signing</a>
                  <span class="post-date">December 9, 2018</span>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex">
                <div class="blog-thumbnail">
                  <img src="{% static 'images/bg-img/sports/football2.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">Chelsea Manager in desparate moods</a>
                  <span class="post-date">December 9, 2018</span>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex">
                <div class="blog-thumbnail">
                  <img src="{% static 'images/bg-img/sports/football4.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">Madrid's Isco refuses New Contract</a>
                  <span class="post-date">December 9, 2018</span>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex">
                <div class="blog-thumbnail">
                  <img src="{% static 'images/bg-img/sports/football5.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">Vandik Scores an hatrick</a>
                  <span class="post-date">December 9, 2018</span>
                </div>
              </div>

            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget mb-80">
              <a href="#"><img class="w-100" src="{% static 'images/bg-img/banner.png' %}" alt=""></a>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area tags-widget mb-80">
              <h5 class="widget-title">Sports </h5>

              <ul class="tags-list">
                <li><a href="#">Football</a></li>
                <li><a href="#">Boxing</a></li>
                <li><a href="#">Tennis</a></li>
                <li><a href="#">Golf</a></li>
                <li><a href="#">Volleyball</a></li>
                <li><a href="#">Rugby</a></li>
                <li><a href="#">Chess</a></li>
                <li><a href="#">Motor Rallies</a></li>
                <li><a href="#">video</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
