{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Farhood - Media &amp; Extrim Radio">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>FarhoodMedia &amp; Live Radio</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'images/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div id="preloader">
    <div class="preloader-thumbnail">
      <img src="{% static 'images/core-img/preloader.png' %}" alt="">
    </div>
  </div>

    {% include './partials/navbar.html' %}
    {% block content %}
    {% endblock %}

    {% include './partials/Subscribe.html' %}
    {% include './partials/footer.html' %}


    <!-- jQuery js -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'js/poca.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/default-assets/active.js' %}"></script>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>